<div class="addProduct">
  <textarea
    class="ID"
    disabled
    type="number"
    *ngIf="id"
    matInput
    [(ngModel)]="id"
  ></textarea>
  <form [formGroup]="newProductForm" (ngSubmit)="onSubmit()">
    <div class="title" *ngIf="!id">
      <h1>ახალი პროდუქტი</h1>
    </div>
    <div class="title" *ngIf="id">
      <h1>პროდუქტი</h1>
    </div>
    <mat-form-field class="name-field">
      <mat-label>სახელი</mat-label>
      <input matInput [(ngModel)]="name" formControlName="Name" />
    </mat-form-field>

    <mat-form-field class="quantity-field">
      <mat-label>რაოდენობა</mat-label>
      <input
        type="number"
        matInput
        [(ngModel)]="quantity"
        formControlName="Quantity"
      />
    </mat-form-field>

    <mat-form-field class="price-field">
      <mat-label>ფასი</mat-label>
      <input
        type="number"
        matInput
        [(ngModel)]="price"
        formControlName="Price"
      />
      <mat-icon matSuffix>$</mat-icon>
    </mat-form-field>
    <div class="uploads">
      <div class="docUpload">
        <p-fileUpload
          mode="basic"
          #DocFileUpload
          chooseLabel="დოკუმენტი"
          accept="application/pdf"
          (uploadHandler)="onBasicUpload($event)"
        ></p-fileUpload>
      </div>
      <div class="imgUpload">
        <p-fileUpload
          #ImgFileUpload
          accept="image/*"
          (uploadHandler)="onBasicUpload($event)"
          [showUploadButton]="false"
          [showCancelButton]="false"
          chooseLabel="სურათი"
        ></p-fileUpload>
      </div>
    </div>
    <input
      [disabled]="!newProductForm.valid"
      type="submit"
      class="addBTN"
      [value]="!id ? 'დამატება' : 'შენახვა'"
    />
    <input
      class="clearBTN"
      type="button"
      (click)="onClear()"
      value="გასუფთავება"
    />
  </form>
</div>

<div class="card productsCard">
  <p-table
    [value]="products"
    [scrollable]="true"
    scrollHeight="400px"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>სახელი</th>
        <th>რაოდენობა</th>
        <th>ფასი</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.ID }}</td>
        <td>{{ product.Name }}</td>
        <td>{{ product.Quantity }}</td>
        <td>
          {{ product.Price }}$
          <mat-icon
            class="editIcon"
            (click)="
              onEdit(product.ID, product.Name, product.Quantity, product.Price)
            "
            >edit</mat-icon
          >
          <mat-icon class="deleteIcon" (click)="onDelete(product.ID)"
            >delete</mat-icon
          >
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
