.ID {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 50px;
  height: 40px;
  border-radius: 20%;
  font-size: 30px;
  text-align: center;
  overflow: hidden;
  outline: none;
  resize: none;
}

.productsCard {
  margin: 50px 50px 0 50px;
}

.mdc-data-table__table {
  min-width: 0;
}

.mat-column-name {
  width: 35% !important;
}

.mat-column-quantity {
  width: 20% !important;
}

.mat-column-price {
  width: 20% !important;
}

.addProduct {
  position: relative;
  float: left;
  background: #ffffff;
  width: 700px;
  margin-left: 200px;
  margin-right: 100px;
  box-shadow: 0 0 10px rgb(75, 75, 75);
}

.addProduct form {
  margin-top: 30px;
  display: block;
  text-align: center;
}

.title h1 {
  font-family: "Helvetica Neue LT GEO";
  color: orange;
}

.mat-mdc-form-field {
  display: block;
}

.name-field {
  width: 250px;
  margin-left: 10%;
}

.quantity-field {
  width: 150px;
  margin-left: 10%;
}
.price-field {
  position: absolute;
  width: 150px;
  top: 155px;
  left: 247px;
}

.addBTN,
.clearBTN {
  margin: 0 5px 5px 5px;
  border: none;
  width: 151px;
  height: 50px;
  background: #0d66d0;
  border-radius: 10px;

  font-family: "Helvetica Neue LT GEO";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;
  cursor: pointer;
}

.clearBTN {
  background: #6b6b6b;
}

.addBTN:hover,
.clearBTN:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.addBTN:active,
.clearBTN:active {
  transform: translateY(4px);
}

.card mat-icon {
  cursor: pointer;
  display: block;
  float: right;
}

.card .deleteIcon:hover {
  color: red;
}

.card .editIcon:hover {
  color: goldenrod;
}

::ng-deep .card p-table .p-datatable {
  position: static;
}

.docUpload {
  position: absolute;
  top: 87px;
  right: 64px;
}
