body {
  background: #A0A0A0;
}

header {
  height: 80px;

  background: #FFFFFF;
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.07);
}

.logOutBtn {
  float: right;
  margin-top: 15px;
  margin-right: 50px;
}

.logOutBtn button{
      margin-right: 10px
}