body {
  background: #a0a0a0;
}

header {
  height: 80px;

  background: #ffffff;
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.07);
}

.logOutBtn {
  float: right;
  margin-top: 15px;
  margin-right: 50px;
}

.logOutBtn button {
  margin-right: 10px;
}

app-store-nav,
app-admin-nav {
  margin-left: 30px;
}
